.search-form {
  background: @primary-dark;
  color: @gray-light;
  height: @navbar-height;
  line-height: @navbar-height;

  border-radius: 6px;
  margin-bottom: @navbar-margin-bottom;
  overflow: hidden;

  label {
    color: #fff;
  }

  .form-control,
  .dropdown-toggle,
  .btn-group.open .dropdown-toggle {
    height: @navbar-height * 0.6;
    line-height: @navbar-height * 0.6;
    border-radius: 0;
    background: @primary-darker;
    color: @gray-light;
    border: 0;
    padding: 0 25px 0 12px;
    outline: none;
    text-transform: uppercase;
    font-size: 0.875em;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }

  .search-form-gender {
    margin-left: 34px;

    @media screen and (min-width: @screen-md-max) {
      margin-left: 67px;
    }
  }

  .search-form-age {
    margin-right: 33px;

    @media screen and (min-width: @screen-md-max) {
      width: 56.3333333%;
    }
  }

  .dropdown-menu {
    background: @primary-darker;
    border: 0;
    font-size: 0.875em;

    >li>a {
      color: @gray-light;
      padding: 12px;

      &:hover,
      &:focus {
        background: @primary-darkest;
        color: @gray-light;
        outline: none;
      }
    }
  }

  .btn-search {
    height: @navbar-height;
    font-size: 1.5em;
    border-radius: 0;
    width: @navbar-height;
    float: right;
  }
}