div.create-card {
  margin: 0 0 2em;

  @media screen and (max-width: @screen-sm-min) {
    .btn-lg {
      font-size: 10px;
    }
  }
}

input[type=checkbox]:before,
input[type=radio]:before {
  content: "";
  display: inline-block;
  width: 39px;
  height: 36px;
  background-color: transparent;
  background-image: url("../images/checkboxes.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  left: -2px;
  top: -4px;
}
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  background-position: 0 -36px;
}

.no-margin-top {
  margin-top: 0;
}

.row-margin {
  margin: 1em -15px;
}

.help-block {
  font-size: 0.875em;
}

.text-info-light {
  color: lighten(@brand-success, 10%);
}

.fa-snapchat {
  background: url('../images/snapchat.png');
  width: 16px;
  height: 16px;
  font-size: 0;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.fa-snapchat-black {
  background: url('../images/snapchat_black.png');
  width: 16px;
  height: 16px;
  font-size: 0;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.fa-kik {
  background: url('../images/kik.png');
  width: 16px;
  height: 16px;
  font-size: 0;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.fa-kik-black {
  background: url('../images/kik_black.png');
  width: 20px;
  height: 22px;
  font-size: 0;
  margin-right: 4px;
  position: relative;
  top: 1px;
}